html, body{
    height: 100%;
    margin: 0;
    background-color: black;
}

.pots-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 0.3rem;
  margin: 0.3rem;
  width: fit-content;
  height: fit-content;
}

.groupstage-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupstage-container.row{
  flex-direction: row;
}

.group-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0.3rem;
    margin: 0.3rem;
    width: fit-content;
    height: fit-content;
}

.team{
  height: 2rem;
  width: 6rem;
  margin: 0.5vh;
  /* background-color: white; */
  /* cursor:grab; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.team:not(.dragging):hover .tooltip{
  /* background-color: rgb(88, 88, 88);
  border: solid white 2px; */
  visibility: visible;
  opacity: 90%;
  transition: opacity 300ms ease-in-out 1300ms;
}

.tooltip{
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 3px;
  margin-left: 6.5rem;
  margin-top: -.4rem;
  height: min-content;
  color: white;
  background-color: black;
  opacity: 0;
}

.tooltip::before{
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


.code{
  font-family:Courier;
  font: bolder;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flag{
  /* height: 100%; */
  width: 40%;
  /* max-height: 32px; */
  /* border-radius: 150%; */
  /* clip-path: circle(); */
  /* transform: scale(0.5); */
  border: 4px solid;
  border-radius: 10%;
  border-color: black;
}


.team.dragging{
  opacity: 25%;
  background-color: rgb(88, 88, 88);
  /* border: solid black 1px; */
  cursor: grab;
}

.thirdplace-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.thirdplace-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 0.3rem;
  margin: 0.3rem;
  width: fit-content;
  height: fit-content;
}

