html {
  width: 100%;
}

body {
  height: 100%;
  /* width: min-content; */
  min-width: fit-content;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
}

.world-cup {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  margin: 0 5rem 0 5rem;
}

.pots-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 0.3rem;
  margin: 0.3rem;
  width: fit-content;
  height: fit-content;
}

.groupstage-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.groupstage-container.row {
  flex-direction: row;
}

.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 0.3rem;
  margin: 0.3rem;
  width: fit-content;
  height: fit-content;
}

.team {
  height: 2rem;
  width: 6rem;
  margin: 0.5vh;
  /* background-color: white; */
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.team:hover {
  background-color: rgb(95, 93, 93);
}

.team:not(.dragging):hover .tooltip {
  /* background-color: rgb(88, 88, 88); */
  /* border: solid white 2px; */
  visibility: visible;
  opacity: 90%;
  transition: opacity 300ms ease-in-out 1300ms;
}

.tooltip {
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 3px;
  margin-left: 6.5rem;
  margin-top: -0.4rem;
  height: min-content;
  color: white;
  background-color: black;
  opacity: 0;
}

.tooltip::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.code {
  font-family: Courier;
  font: bolder;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flag {
  width: 40%;
  border: 3px solid;
  border-radius: 10%;
  border-color: black;
}

.small-flag {
  width: 40%;
  border: 3px solid;
  border-radius: 10%;
  border-color: black;
}

.chosen {
  border-color: green;
}

.team.dragging {
  opacity: 25%;
  background-color: rgb(88, 88, 88);
  /* border: solid black 1px; */
  cursor: grab;
}

.thirdplace-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.thirdplace-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 0.3rem;
  margin: 0.3rem;
  width: fit-content;
  height: fit-content;
}

.bracket {
  /* height: 100%; */
  width: 100%;
  margin: 1rem;

  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: row;
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright; */
}

.round-of-32 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.round-of-16 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quarterfinals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.semifinals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.finals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  height: 2rem;
  width: 5.5rem;
  /* background-color: white; */
  border: solid 1px grey;
  border-radius: 5px;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .groupstage-container.row {
    flex-direction: column;
  }

  .group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0.3rem;
    margin: 0.3rem;
    width: fit-content;
    height: fit-content;
  }

  .team {
    height: 2rem;
    width: 6rem;
    margin: 0.5vh;
    /* background-color: white; */
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }
}
