html, body{
    height: 100%;
    margin: 0;
    background-color: black;
}

.groupstage-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupstage-container.row{
  flex-direction: row;
}

.group-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 1vh;
    margin: 1vh;
    width: fit-content;
    height: fit-content;
}

.team{
    height: 6vh;
    width: 18vh;
    margin: 0.5vh;
    background-color: white;
    cursor: move;
    display: flex;
    flex-direction: row;
}

.code{
  font-family:Courier;
  font: bolder;
  font-size:x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flag{
  height: 100%;
}


.team.dragging{
  opacity: 50%;
}